@model AppointmentVM
@{
    ViewData["Title"] = "Dashboard";
}


<div class="border-0 mt-1 p-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">EDYCJA REZERWACJI</h2>
            </div>
        </div>
    </div>
    <div class="p-4 bg-light shadow">
        <div class="d-flex justify-content-start gap-1">
            <a class="btn btn-subtle" asp-controller="AdminAppointment" asp-action="Details" asp-route-id="@Model.Id"><i class="bi bi-x-square mx-1"></i>Zakończ edycje</a>
        </div>
        <form method="post" class="row">
            <input asp-for="Id" hidden />
            <div class="p-3">
                <div asp-validation-summary="None"></div>

                <div>
                    <label asp-for="ServiceId" class="form-label">Wybierz usługę</label>
                    <select asp-for="ServiceId" asp-items="ViewBag.Services" class="form-select">
                        <option value="">@Model.Service.Name</option>
                    </select>
                    <span asp-validation-for="ServiceId" class="text-danger"></span>
                </div>

                <div class="py-2 col-12">
                    <label asp-for="CustomerFirstName" class="ms-2">Imię klienta</label>
                    <input asp-for="CustomerFirstName" class="form-control border-1"  />
                    <span asp-validation-for="CustomerFirstName" class="text-danger"></span>
                </div>

                <div class="py-2 col-12">
                    <label asp-for="CustomerPhoneNumber" class="ms-2">Numer telefonu klienta</label>
                    <input asp-for="CustomerPhoneNumber" class="form-control border-1"  />
                    <span asp-validation-for="CustomerPhoneNumber" class="text-danger"></span>
                </div>

                <div class="py-2 col-12">
                    <label asp-for="CustomerEmail" class="ms-2">Adres email klienta</label>
                    <input asp-for="CustomerEmail" class="form-control border-1"  />
                    <span asp-validation-for="CustomerEmail" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="EmployeeId" class="form-label">Pracownik</label>
                    <select asp-for="EmployeeId" asp-items="ViewBag.Employees" class="form-select">
                        <option value="">@Model.Employee.FirstName @Model.Employee.LastName</option>
                    </select>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>

                <div class="py-2 col-12">
                    <label for="date" class="ms-2">Data wizyty</label>
                    <input for="date" name="date" type="date" 
                        min="@DateTime.Now.AddDays(0).ToString("yyyy-MM-dd")"
                        max="@DateTime.Now.AddMonths(3).ToString("yyyy-MM-dd")"
                        value="@Model.Date.ToString("yyyy-MM-dd")"
                        class="form-control border-1" />
                </div>


                <div class="py-2 col-12">
                    <label for="time" class="ms-2">Godzina wizyty</label>
                    <select name="time" class="form-control border-1">
                        @foreach (var hour in ViewBag.AvailableHours)
                        {
                            <option value="@hour">@hour</option>
                        }
                    </select>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Zatwierdź</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="AdminAppointment" asp-action="Index" asp-area="Admin" class="btn btn-outline-secondary border form-control">
                            Powrót do listy
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("input[name='Date']").on("change", function() {
                let selectedDate = $(this).val();
                let employeeId = $("select[name='EmployeeId']").val();
                if (!selectedDate) return;

                $.get(`/Admin/AdminAppointment/GetAvailableHours?date=${selectedDate}&employeeId=${employeeId}`, function(data) {
                    let timeSelect = $("select[name='Time']");
                    timeSelect.empty(); // Czyścimy poprzednie opcje

                    if (data.error) {
                        console.error(data.error);
                        return;
                    }

                    $.each(data.data, function (index, hour) { // <- poprawka
                        timeSelect.append(new Option(hour, hour));
                    });
                }).fail(function () {
                console.error("Błąd pobierania godzin");
                });
            })
        })
    </script>
}

