@model CombinedAppointmentVM
@{
	ViewData["Title"] = "Dashboard";

	Dictionary<string, string> workingSchedule = new Dictionary<string, string>()
	{
		 {"Poniedziałek", "08:00 - 19:00"},
		 {"Wtorek", "08:00 - 19:00"},
		 {"Środa", "08:00 - 19:00"},
		 {"Czwartek", "08:00 - 19:00"},
		 {"Piątek", "08:00 - 19:00"},
		 {"Sobota", "08:00 - 16:00"},
		 {"Niedziela", "Zamknięte"}
	};
}
<div class="bg-white">
	<div class="container p-2 p-md-4">
		<div class="row d-flex flex-row-reverse">

			@*Informacje o kontakcie*@
			<div class="col col-12 col-md-4 my-3 my-md-0">
				<div class="p-2 bg-light border rounded">
					<div class="d-flex flex-column">
						<div style="max-height:300px;">
							<iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11409.91473838927!2d23.94074206061593!3d50.974110952015174!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473cfbb7252d8e71%3A0xc12adba96683eeb6!2sLa%20Bella!5e1!3m2!1spl!2spl!4v1733663567949!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
						<p class="text-gray">Akademicka 2, 35-084 Rzeszów</p>
						<p class="mb-1 font-aboreto" style="font-size:0.9rem;">Kontakt i godziny otwarcia</p>
						<div class="d-flex align-items-center justify-content-between py-3 border-top border-bottom">
							<p class="m-0 text-gray"><i class="bi bi-phone" style="margin-right: 5px;"></i>+48 511 322 899</p>
							<button class="btn btn-secondary">Zadzwoń</button>
						</div>
						<div class="py-2">
							@foreach (KeyValuePair<string, string> kvp in workingSchedule)
							{
								<p class="d-flex justify-content-between text-gray mb-1">
									<span>@kvp.Key</span>
									<span>@kvp.Value</span>
								</p>
							}
						</div>
						<p class="mb-1 font-aboreto" style="font-size:0.9rem;">Media społecznościowe</p>
						<div class="d-flex align-items-center justify-content-center gap-3 py-3 border-top">
							<i class="bi bi-facebook text-gray" style="font-size:32px;"></i>
							<i class="bi bi-instagram text-gray" style="font-size:32px;"></i>
							<i class="bi bi-twitter-x text-gray" style="font-size:32px;"></i>
						</div>
					</div>
				</div>
			</div>

			@*Pracownicy, usługi itd.*@
			<div class="col col-12 col-md-8">
				<div class="px-2">
					<h3 class="text-gray font-aboreto px-1">Pracownicy</h3>
					<div class="d-flex flex-wrap gap-4 p-3 justify-content-start border-top">
						@foreach (var employee in Model.Employees)
						{
							<a data-employee-id="@employee.Id" class="d-flex flex-column employee-select align-items-center gap-2 text-decoration-none text-dark" style="max-width:80px;">
								<div class="position-relative ">
									<img src="/images/fryzjer1.jpg" class="img-fluid rounded-circle selected" style="height:80px!important;" alt="" />
									<div class="image-overlay"></div>
								</div>
								<span class="text-center" style="">@employee.FirstName</span>
							</a>
						}
					</div>
				</div>
				<div class="d-flex justify-content-between align-items-center p-2 py-3 ">
					<h3 class="text-gray m-0 font-aboreto px-1">Usługi</h3>
					<div class="input-group m-0" style="width:300px;">
						<div class="input-group-prepend">
							<button class="btn btn-outline-secondary h-100" type="button"><i class="bi bi-search d-flex align-items-center"></i></button>
						</div>
						<input type="text" class="form-control m-0" placeholder="" aria-label="" aria-describedby="basic-addon1">
					</div>
				</div>
				<div>
					@foreach (var service in Model.Services)
					{
						<div class="d-flex justify-content-between border-top p-3">
							<div class="d-flex flex-column">
								<p class="header-1 m-0">@service.Name</p>
								<p class="header-2 text-gray">@service.Category</p>
							</div>
							<div class="d-flex align-items-center gap-5">
								<div class="d-flex flex-column align-items-end">
									<span class="header-1">@service.Price zł</span>
									<span class="header-2 text-gray"><i class="bi bi-clock" style="margin-right: 5px;"></i>@service.DurationInMinutes min</span>
								</div>
								<button data-service-name="@service.Name" class="btn btn-primary service-select">Umów</button>
							</div>
						</div>
					}
				</div>
			</div>

		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form method="post" asp-action="Create" class="row">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Rezerwacja wizyty</h5>
					<button type="button" id="modal-close-btn" data-dismiss="modal" data-target="#exampleModal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<input asp-for="Appointment.EmployeeId" value="" type="hidden" />
					<div class="d-flex gap-2">
						@foreach (var employee in Model.Employees)
						{
							<a data-employee-id="@employee.Id" class="d-flex flex-column employee-select align-items-center gap-2 text-decoration-none text-dark" role="button" style="max-width:60px;">
								<div class="position-relative ">
									<img src="/images/fryzjer1.jpg" class="img-fluid rounded-circle" style="height:60px!important;" alt="" />
									<div class="image-overlay"></div>
								</div>
								<span class="text-center" style="">@employee.FirstName</span>
							</a>
						}
					</div>
					<div class="d-flex flex-column">
						<div class="container">
							<header class="d-flex justify-content-between align-items-center bg-dark rounded text-white p-2">
								<p class="current-date m-0"></p>
								<div class="icons">
									<span id="prev" class="material-symbols-rounded icon"><</span>
									<span id="next" class="material-symbols-rounded icon">></span>
								</div>
							</header>
							<div class="calendar d-flex flex-column align-center p-0">
								<input asp-for="Appointment.Date" value="" type="hidden" />

								<ul class="row w-100 p-0 font-weight-bold">
									<li class="col">Pn</li>
									<li class="col">Wt</li>
									<li class="col">Śr</li>
									<li class="col">Czw</li>
									<li class="col">Pt</li>
									<li class="col">Sob</li>
									<li class="col">Nd</li>
								</ul>
								<div class="weeks row w-100">
									@* => generated days *@
								</div>
							</div>
						</div>
						<div class="hours d-flex flex-wrap gap-1 w-100">
							@* => generated hours *@
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-6 col-md-3">
						<button type="submit" class="btn btn-primary form-control">Zatwierdź</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<script src="~/js/calendar.js"></script>
	<script>
		$(document).ready(() => {
			const selectedEmployeeId = getSelectedEmployeeIdFromLocalStorage();

			$(".employee-select").on("click", handleEmployeeSelection);
			$(".service-select").on("click", handleServiceSelection)
			$("#modal-close-btn").on("click", toggleModal)
			$("form").on("submit", handleFormSubmit);
		});

		const getSelectedEmployeeIdFromLocalStorage = () => {
			return localStorage.getItem('selectedEmployeeId');
		};

		const highlightSelectedEmployee = (employeeId) => {
			if (employeeId) {
				$(`.employee-select[data-employee-id="${employeeId}"]`).addClass('selected-employee');
			}
		};

		const handleEmployeeSelection = function (event) {
			event.preventDefault();
			const employeeId = $(this).data("employee-id");
			console.log(employeeId);
			$("#Appointment_EmployeeId").val(employeeId);
			localStorage.setItem("selectedEmployeeId", employeeId);
			$('.employee-select').removeClass('selected-employee');
			$(this).addClass('selected-employee');
		}

		const handleServiceSelection = (event) => {
			// const serviceName = $(this).data('service-name');
			event.preventDefault();
			toggleModal();
		}

		const toggleModal = () => {
			$('#exampleModal').modal('toggle')


			const selectedEmployeeId = localStorage.getItem('selectedEmployeeId');
			if (selectedEmployeeId) {
				$(`.employee-select[data-employee-id="${selectedEmployeeId}"]`).addClass('selected-employee');
			}

		}

		const handleFormSubmit = () => {
			const formattedDate = selectedDate.toISOString(); // "YYYY-MM-DDTHH:MM:SS.sssZ"
			$("#Appointment_Date").val(formattedDate);
			this.submit();
		}

		const selectedDate = new Date();

		const handleDaySelection = (day,month,year) => {
			selectedDate.setFullYear(year);
			selectedDate.setMonth(month);
			selectedDate.setDate(day);
			console.log(selectedDate);
		}

		const handleHourSelection = (hour) => {
			const [hours,minutes] = hour.split(':');
			selectedDate.setHours(parseInt(hours) + 1, parseInt(minutes), 0, 0);
			console.log(selectedDate);
		};
	</script>

}


