@using System.Security.Claims
@model Blog

@{
	var userId = @User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="container pt-2" style="max-width: 800px;">
	<form method="post" asp-controller="Blog" asp-action="Upsert">
		<input asp-for="EmployeeId" value="@userId" hidden />
		<img src="~/images/Blog/szampon-z-aminokwasami.webp" class="img-fluid rounded w-100" />
		<a asp-controller="Blog" asp-action="Article" asp-route-id="@Model.Id">Article</a>
		<button type="submit" class="btn btn-primary form-control">Zatwierdź</button>
		<div class="p-3 p-sm-4 border">
			<header class="mb-4 font-open-sans text-break">
				<textarea asp-for="Title" class="h2 w-100 p-2 border" rows="3" style="max-height:300px; min-height:100px;">@Model.Title</textarea>
				<input asp-for="PublicationDate" hidden />
				<span class="text-muted sub-sup-font-sizee"><i class="bi bi-clock mx-1"></i>@Model.PublicationDate</span>
				<p>@userId</p>
			</header>
			<content class="font-open-sans lh-base text-break">
				<input asp-for="Content" hidden />
				<div class="" id="editor">
					@Model.Content
				</div>
			</content>
		</div>
	</form>
</div>

@section scripts {
	<script>
		const quill = new Quill('#editor', {
		  modules: {
			toolbar: [
			  [{ header: [1, 2, false] }],
			  ['bold', 'italic', 'underline','link'],
			  ['image'], [{ list: 'ordered' }, { list: 'bullet' }],
			],
		  },
		  placeholder: 'Compose an epic...',
		  theme: 'snow', // or 'bubble'
		});

		const handleFormSubmit = function() {
			var content = $("#editor").html();
			$("#Content").val(content)
			$(this).submit();
		}
	</script>
}